.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.grid-square {
  background-color: white;
}

.grid-square::before {
  content: "";
  padding-bottom: 100%;
}

input,
button {
  margin: 10px;
  font-size: 10px;
  letter-spacing: 2px;
  height: 35px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
}
