.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.grid-square {
  background-color: white;
}

.grid-square::before {
  content: "";
  padding-bottom: 100%;
}

input,
button {
  border-radius: 4px;
  border: 1px solid black;
  color: black;
  font-size: 10px;
  letter-spacing: 2px;
  height: 35px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
